.floor-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.floor-title {
    font-size: 16px;
    font-weight: bold;
}

.floor-item {
    width: calc(33.33% - 10px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    justify-content: center;
    background-color: #e0e0e0;
}

.room-container {
    display: flex;
    flex-direction: column;
    border: solid black;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.room-title {
    font-size: 14px;
    font-weight: bold;
}

.room-item {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
}

.bed-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
}

.legend-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-left: 15px;
    border: solid black;
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
}

.legend-item {
    display: flex;
    margin-right: 5px;
    align-items: center;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.available {
    background-color: #00ff00;
    width: 100%;
    height: 100%;
}

.occupied {
    background-color: #ff0000;
    width: 100%;
    height: 100%;
}

.maintenance {
    background-color: #e0f307;
    width: 100%;
    height: 100%;
}
.cleaning {
    background-color: #f305df;
    width: 100%;
    height: 100%;
}
.reserved {
    background-color: #10d3ed;
    width: 100%;
    height: 100%;
}

.available-square {
    background-color: #00ff00;

}

.occupied-square  {
    background-color: #ff0000;

}

.maintenance-square  {
    background-color: #e0f307;

}
.cleaning-square  {
    background-color: #f305df;

}
.reserved-square {
    background-color: #10d3ed;

}

.invisible-button {

    border: none;
}

.bed-item {
    background-color: var(--available-color);
    width: calc(25% - 2 px);
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    filter: brightness(100%);
}

.bed-item:hover {
    filter: brightness(80%);
}

.bed-item img {
    width: 16px;
    height: 16px;
    margin-left: 3px;
}

.bed-title{
    margin: 5px;
}

.picklist-container {
    text-align: center;
    margin-bottom: 8px;
}

.select-text {
    font-size: 24px;
    font-weight: bold;
}

.legend-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}